dist/
**/javasource/**/proxies/
test/releases/
test/deployment/
test/.classpath
test/.project
test/.mendix-cache
test/.svn
demo/releases/
demo/deployment/
demo/.classpath
demo/.project
demo/.mendix-cache
demo/.svn
*.launch
*.tmp
*.lock
.idea/
nbproject
node_modules
dist